.grid-container .info-container p{
    padding-left: 0;
}

@media screen and (max-width:1800px){
    .hover-imgs{
        grid-template-columns: repeat(2, 1fr);
    }

    .text-imgs{
        .text-img{
            img{
                object-position: 25%;
            }
        }
    }
}

@media screen and (min-width: 2100px) {
    .container {
        padding-left: calc((100vw - 1522px) / 2);
        padding-right: calc((100vw - 1522px) / 2);
    }
    .controls {
        right: calc((100vw - 1981px) / 2);
    }
    .controls-hover {
        right: calc((100vw - 2000px) / 2);
    }
    .theme-btn {
        right: calc((100vw - 1966px) / 2);
    }
}

@media screen and (max-width:1532px){
    .container{
        padding: 7rem 11rem;
    }

    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
        
    }
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .contact-content-con .right-contact{
        margin-bottom: 6rem;
    }

    .main-title{
        h2{
            .bg-text{
                font-size: 5.5rem;
            }
        }
    }
    
}

@media screen and (max-width:1250px){
    .text-imgs{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 6rem;
    }
    .home-content .right-home{
        padding-right: 9rem;
    }
}

@media screen and (max-width:1150px){
    .hover-imgs{
        .hover-img{
            img{
                height: 200px;
            }
            //change values here
            .hover-items{
                h3{
                    font-size: 1.1rem;
                    margin-bottom: 0.1rem;
                }
                .icons {
                    .icon {
                        border-radius: 50%;
                        width: 35px;
                        height: 35px;
                        margin: 0 0.5rem;
                        i {
                            font-size: 1.1rem;
                            margin: 0 0.75rem;
                        }
                    }
                }
                p{
                    font-size: 0.75rem;
                }
            }
        }
    }
    
}

@media screen and (max-width:1070px){
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        .content-container{
            padding-top: 2.5rem;
        }
    }
    #info{
        order: 2;
    }
    #QueensDiv{
        order: 1;
    }
    .main-title{
        h2{
            font-size: 4rem;
            span{
                font-size: 4rem;
            }
            .bg-text{
                font-size: 4.5rem;
            }
        }
    }
}

@media screen and (max-width:970px){
    .container{
        padding: 7rem 6rem;
    }
    .grid-container .info-container{
        padding-right: 0rem;
    }
    .home-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .left-home{
        .h-shape{
            display: none;
        }
        .image{
            width: 90% !important;
            margin: 0 auto !important;
            
        }
    }
    .right-home{
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }
}

@media screen and (max-width: 800px) {
    .home{
        padding: 0 !important;
    }
    .theme-btn{
        width: 50px;
        height: 50px;
    }
    .home-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .left-home{
        .h-shape{
            display: none;
        }
    }
    .right-home{
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }
    .home-content .left-home .image{
        margin: 0 auto;
        width: 90%;
    }

    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-primary);
        .control{
            margin: 1rem .3rem;
        }
    }

    .grid-container{
        grid-template-columns: repeat(1, 1fr);
        .content-container{
            grid-template-columns: repeat(1, 1fr);
            padding-top: 2.5rem;
        }
        .info-container{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }

    .timeline{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .container{
        padding: 2rem 2.5rem !important;
    }

    .hover-imgs{
        padding-bottom: 6rem;
        margin-top: 1rem;
    }

    .text-imgs{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
        
    }
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .contact-content-con .right-contact{
        margin-bottom: 6rem;
    }

    .contact-item{
        flex-direction: column;
        margin: 1rem 0;
        p{
            font-size: 15px;
            color: var(--color-grey-2);
        }
        span{
            font-size: 15px;
        }
        .icon{
            grid-template-columns: 25px 1fr;
        }
    }


    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.3rem;
            }
            .bg-text{
                font-size: 2.3rem;
            }
        }
    }
}

@media screen and (max-width:700px){
    .container{
        padding: 7rem 3rem;
    }
    .grid-container .content-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .timeline{
        grid-template-columns: repeat(1, 1fr);
    }
    .main-title{
        h2{
            font-size: 3rem;
            span{
                font-size: 3rem;
            }
            .bg-text{
                font-size: 4rem;
            }
        }
    }
}

@media screen and (max-width:660px){
    .text-imgs{
        grid-template-columns: repeat(1, 1fr);
    }
    .hover-imgs{
        grid-template-columns: repeat(1, 1fr);
        .hover-img{
            img{
                height: 10%;
            }
        }
    }
}

@media screen and (max-width:550px){
    .mobile-view{
        display: contents;
    }

    .desktop-view{
        display: none;
    }
}

@media screen and (max-width:395px){
    .hover-imgs{
        .hover-img{
            .hover-items{
                h3{
                    font-size: 0.75rem;
                    margin-bottom: 0.1rem;
                }
                .icons {
                    .icon {
                        border-radius: 50%;
                        width: 25px;
                        height: 25px;
                        margin: 0 0.5rem;
                        i {
                            font-size: 0.75rem;
                            margin: 0 0.5rem;
                        }
                    }
                }
                p{
                    font-size: 0.75rem;
                }
            }
        }
    }

    .scroll-left-to-right{
        p{
            animation: left-to-right-1 120s linear infinite;
            animation-delay: -120s;
        }
        p:nth-child(2){
            animation: left-to-right-2 120s linear infinite;
            animation-delay: -60s;
        }
    }
}

@media screen and (max-width:340px){
    section{
        font-size: smaller;
    }
    .main-title{
        h2 {
            font-size: 1.5rem !important;
            span{
                font-size: 1.5rem !important;
            }
        }
    }

    .home{
        font-size: smaller;
        .right-home{
            h1{
                font-size: 1.4rem !important;
            }
        }
    }

    h4{
        font-size:1.2rem !important;
    }

    .hover-imgs{
        grid-template-columns: repeat(1, 1fr);
        .hover-img{
            img{
                height: 100px;
                width: 80%;
            }
        }
    }
    .grid-container{
        .content-container{
            .stat-item{
                width: 90%;
                .stat-text {
                    .large-text {
                        font-size: 3rem;
                    }
                    .small-text {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    .timeline {
        .timeline-item {
            padding-left: 1.5rem;
            border-left: 1px solid var(--color-grey-5);
            .tl-icon, .tl-img {
                left: -13.5px;
                top: 0;
                width: 25px;
                height: 25px;
                i { font-size: 0.65rem; }
                img{width: 25px;
                    height: 25px;}
            }
        }
    }

    .controls{
        .control{
            width: 45px;
            height: 45px;
            i {font-size: 0.9rem;}
        }
    }
}
